<div class="user">
  <h1>Articles by <%= @user.name %></h1>
  <h2><%= @user.email %></h2>
</div>
<div class="articles">
  <% @user.articles.each do |article| %>
    <%= link_to article.title, user_article_path(@user.id, article.id) %>
    <div class="article">
      <%= article.body.truncate(75) %>
    </div>
    <div class="article_comments">
      <%= article.comments.count %> Comments
    </div>
  <% end %>
</div>
<div class="new_article">
  <%= link_to "Write new article!", new_user_article_path(@user.id) %>
</div>
